<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>行尸走肉</string>
	<string>金蝉脱壳</string>
	<string>百里挑一</string>
	<string>金玉满堂</string>
	<string>背水一战</string>
	<string>霸王别姬</string>
	<string>满腹经纶</string>
	<string>兵临城下</string>
	<string>春暖花开</string>
	<string>插翅难逃</string>
	<string>黄道吉日</string>
	<string>偷天换日</string>
	<string>两小无猜</string>
	<string>卧虎藏龙</string>
	<string>珠光宝气</string>
	<string>国色天香</string>
	<string>八仙过海</string>
	<string>金玉良缘</string>
</array>
</plist>
